.contact-form__section{
    min-height:50vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    background: darken($main-white-color,5%);
    & h2{
        font-size:3rem;
    }
    
    &--button{
        border:0;
        background:$color-orange;
        color:$main-white-color;
        padding:1rem;
        transition: all .2s;
        width:100%;
        &:hover{
            cursor:pointer;
            background:darken($color-orange,20%);
        }
    }
    
    & input,textarea{
        transition:all 0s linear infinite;
        
        &:hover{
            animation: .3s inputHover;
            animation-fill-mode:forwards;
        }
    }
}

.location__left{
    min-height:50vh;
    padding:3rem;
    background: url(../images/background-left.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    flex-basis:50%;
    
     & h3{
         @extend %location-text;   
    }
    
}
.location__right{
    min-height:50vh;
    padding:3rem;
    background: url(../images/background-right.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    flex-basis: 50%;
    
    & h3{
     @extend %location-text;   
    }
}

.form__container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    min-height:50vh;
    min-width:40rem;
    background:$main-white-color;
}