
.title__column{
    margin-left:5rem;
    
    & h2{
        font-size:2rem;
    }
}

hr{
    height:.2rem;
    background: $color-orange;
    border:0;
    margin:1rem 0;
    width:10rem;
}
.main__content{
    display:flex;
    flex-direction:column;
    justify-content:center
}
section{
    width:100;
    margin:1rem;
    padding: 2rem;
    & p{
        font-size:1.2rem;
    }
}
//inputs////////////////////////////////////////////////////////////////////////////////////////////

input{
    padding: 1rem;
    border:0;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
    background: darken($main-white-color,20%);
    &:focus{
        outline:none;
    }
}
//rows//////////////////////////////////////////////////////////////////////////////////////////////
.section__row--grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap:2rem;
    width:100vw;
    padding:3rem 4rem;
}
.row-2--wide{
    display:flex;
    flex-direction:row;
    padding:1rem;
}

.input__row{
    display:flex;
    flex-direction:row;
    margin:1rem 0;
}
//columns/////////////////////////////////////////////////////////////////////////////////////////////
.column-2-wide{
    display:flex;
    flex-direction:column;
    width:35vw;
    padding:1rem;
}
