<% include partials/header %>
    
    <main class="main__content">
      
        <header class="header__main">
              <h1 class="header__main--h1"><%= title %></h1>
                <% for(let val of slogans) { %>
                  <p><%= val %> </p>
                  <% } %>
        </header>
        
        <section class="about__section">
            <h2> <%= about.title %> </h2>
            <p> <%= about.content %> </p>
        </section>
        
        <section class="gallery__section">
            <h2>Gallery</h2>
        </section>
        
        <section class="whatwedo__section">
            
        </section>
   </main>
   <footer>
      <ul class="social-media__list">
          <li>Fb Twitter Insta</li>
      </ul>
   </footer>
<% include partials/footer %>