.location__left h3, .location__right h3 {
  font-size: 2.8rem;
  color: #fff; }

html,
body {
  font-family: 'Raleway';
  font-size: 63%; }

.header__main--h1 {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 5rem; }

h2 {
  font-family: 'Merriweather';
  font-weight: 300; }

@keyframes inputHover {
  0% {
    border: 1px solid transparent; }
  100% {
    border: 1px solid #ae8319; } }

header {
  width: 100vw;
  padding: 1.7rem; }

.header__main {
  background: url(../images/background.jpg) no-repeat;
  border-radius: 1px;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(10%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh); }
  .header__main--slogan {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-around;
    margin-bottom: 7rem; }
    .header__main--slogan p {
      margin: 0 .5rem; }

.image-with-text {
  padding: 1rem; }
  .image-with-text p {
    padding-right: 2rem; }

.image__round {
  float: left;
  border: 2px solid #cccccc;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  shape-outside: circle(50%); }

.about__section--content {
  box-shadow: 0 1px 1px #e6e6e6; }

.gallery__grid {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(4, 1fr);
  column-gap: .3rem;
  row-gap: .3rem; }

.img__container {
  height: 25vh;
  filter: grayscale(50%);
  overflow: hidden; }
  .img__container img {
    height: 100%;
    width: 100%;
    transition: all .2s linear; }
    .img__container img:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
      cursor: pointer; }

footer {
  width: 100vw;
  min-height: 5rem;
  background: #999;
  padding: 1rem;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer h3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 300; }
  footer a {
    font-size: 1.5rem;
    padding: 1rem; }

.social-media__list {
  margin: 1rem 0; }

.contact-form__section {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f2f2f2; }
  .contact-form__section h2 {
    font-size: 3rem; }
  .contact-form__section--button {
    border: 0;
    background: #DAA520;
    color: #fff;
    padding: 1rem;
    transition: all .2s;
    width: 100%; }
    .contact-form__section--button:hover {
      cursor: pointer;
      background: #816213; }
  .contact-form__section input, .contact-form__section textarea {
    transition: all 0s linear infinite; }
    .contact-form__section input:hover, .contact-form__section textarea:hover {
      animation: .3s inputHover;
      animation-fill-mode: forwards; }

.location__left {
  min-height: 50vh;
  padding: 3rem;
  background: url(../images/background-left.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-basis: 50%; }

.location__right {
  min-height: 50vh;
  padding: 3rem;
  background: url(../images/background-right.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 50%; }

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 50vh;
  min-width: 40rem;
  background: #fff; }

h3 {
  font-family: 'Merriweather';
  font-weight: 300; }

.title__column {
  margin-left: 5rem; }
  .title__column h2 {
    font-size: 2rem; }

hr {
  height: .2rem;
  background: #DAA520;
  border: 0;
  margin: 1rem 0;
  width: 10rem; }

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

section {
  width: 100;
  margin: 1rem;
  padding: 2rem; }
  section p {
    font-size: 1.2rem; }

input, .message {
  padding: 1rem;
  border: 1px solid transparent;
  background: #e6e6e6; }
  input:focus, .message:focus {
    outline: none; }

textarea {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 10rem; }

.section__row--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100vw;
  padding: 3rem 4rem; }

.row-2--wide {
  display: flex;
  flex-direction: row;
  padding: 1rem; }

.input__row {
  display: flex;
  flex-direction: row;
  margin: 1rem 0; }

.column-2-wide {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 1rem; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #fff; }
